header{
    text-align: center;
    color: var(--color-text);
}

header h1{
    font-family: var(--font-main);
    margin-bottom: 1rem;
}

header h4{
    font-family: var(--font-sub);
    font-size: 0.9rem;
}