.stress{
    background-color: var(--color-stress);
    color: var(--color-main);
    font-family: var(--font-main);
    border-bottom: 0.05rem solid var(--color-text);
}

.stress h4{
    padding-bottom: 1rem;
    font-family: var(--font-sub);
}

.stress-nav{
    background-color: var(--color-stress);
}

.stress-cont{
    border-bottom: 1.3rem solid var(--color-stress);
}

.stress-bar button{
    border: 0.03rem solid var(--color-stress);
}

.stress-bar button:hover{
    background-color: var(--color-stress);
    color: var(--color-main);
}