.navigate{
    position: relative;
    float: left;
}

nav{
    float: left;
    margin: 2rem 0 0 5rem;
    display: grid;
    place-items: center;
    border: 0.03rem solid var(--color-main);
    border-radius: 2rem;
    height: -moz-fit-content;
    height: fit-content;
    width: auto;
    padding: 0 2rem;
    background-color: var(--color-random);
    box-shadow: 0.5rem 0.5rem 0.7rem rgba(var(--color-text-out),  0.8);
}

nav ul{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: var(--color-text);
}

.sidenav i{
    margin: 1.6rem auto;
    color: var(--color-main);
}

.fa-house-chimney:hover{
    color: var(--color-random);
}

.fa-heart-pulse:hover{
    color: var(--color-love);
}

.fa-lightbulb:hover{
    color: var(--color-insp);
}

.fa-bowl-food:hover{
    color: var(--color-food);
}

.fa-volleyball:hover{
    color: var(--color-sports);
}

.fa-peace:hover{
    color: var(--color-stress);
}